.App {
  text-align: center;
  color: black;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-image: linear-gradient(120deg, #864BA2 , #BF3A30);
  background-color: #9dadcc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

#wordBox {
  background-image: linear-gradient(120deg, #BF3A30 , #864BA2);
  background-clip: content-box;
  background-position-y: top;
  
}


#main {
  background-color: #ffffff;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

#leftBox {
  background-color: #ff000039;
  min-height: 100vh;
  min-width: 50vw;
  position: fixed;
  left: 0px;
  top: 0px;
  align-items: right;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

#rightBox {
  background-color: #3300ff3a;
  min-height: 100vh;
  min-width: 50vw;
  position: fixed;
  
  right: 0px;
  top: 0px;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

#boxyMcBoxFace {
  background-color: #fffafa;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  color: rgb(0, 0, 0);
}

/*works as of now*/
